################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/SAE15/FileContentIndex
/.vs/SAE15/v17
/.vs
